<div>
    <!-- To Render translation, create a Lang/{locale}/messages.php file inside module directory -->
    <!-- Replace {module} with module name  -->
    
    {{-- {{ __('{module}::messages.welcome') }} --}}
</div>